/* Navigation */
.mobile-nav {
    padding: 5px 15px 0 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color: #fff;
    color: #000;
    font-size: 24px !important;
    box-shadow: 0 2px 2px #ccc;
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none !important;
    }
}

.brand {
    float: left !important;
    transform: translateY(65%);
    font-size: 25px;
}
.brand a {
    text-decoration: none;
    color: #000;
}

.toggle-container {
    float: right !important;
    display: inline-flex;
    margin: 0;
     
}

.menu-cart {
 padding: 18px 0 0 5px !important;
 font-size: 25px;   
}

.menu-cart a{
    text-decoration:none;
    color: #000;
}

#cart-link{
        color: #000;
    }

.menu-btn {
    padding: 16px 5px !important;
    font-size: 25px;
}
.menu-btn {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #000!important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
/**Ent of Nav-Res**/

.nav {
    position: fixed;
    background-color: #fff;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 2px 2px #ccc;
}

.nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px 3px 70px;
    transition: all 0.25s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #000 !important;
    padding: 5px 15px;
    transition: all 0.3s ease-out;
}
.menu {
    display: none;
}
.logo-small-screen {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav {
        padding-bottom: 12px;
    }

    .nav .nav-container {
        display: none;
        text-align:center;
        width: 200px;
        min-height: 100vh;
        padding: 50px 10px 10px 10px;
        background:#C1F0F6;
        position: absolute;
        margin-top: 10px;
        
    }

    .nav ul {
        display: inline-block;
        list-style-type: none;
        align-items: center;
        padding: 20px 10px;
        
    }
   
    .nav ul li {
        color: white;
        text-decoration: none;
        padding: 20px 0 20px 0;
        
    }

    .logo-small-screen {
        display: block;
    }

    
    #cart-link{
        padding: 0 15px 0 0;
    }
}

.logo.active {
    display: none;
}

.nav .nav-container.active {
    display: block;
    animation: animateleft 0.4s;
    
   
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

