{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static "shop/css/banner.css" %}">
{% endblock %}

<div class="hero-cover">
     <div class="hero-text">
         <h2>Shop From Our Collection</h1>
         <h2>Up To 40% Off</h1>
        <h3>Warranty Guaranteed | Free Delivery</h2>
        <p>Lorem ipsum dolor sit amet consectetur adip ea tempora ut sint laborum!</p>
        <button class="hero-btn"><a href="{% url "shop" %}">Buy Now</a></button>
    </div>
    <div class="banner-container">
         {#<img src="./img2.png" alt="img" />#}
         <img src="https://res.cloudinary.com/webmonc/image/upload/v1661531829/portfolio/shopify-ng/person-transparent_mtca8a.png" %}" alt="glam store" >   
    </div>

   
</div>